.visuallyImpairedButtons {
    height: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.font_size__button, 
.font_color__button {
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.font_size__button {
    text-decoration: underline;
    color: #25669c;
}

.font_color__button{
    text-decoration: underline;
}